$bg: #131419;
$dark: #1C1C24;
$dark-light: #2D2D3A;
$dark-border: #262631;

$primary: #4447E2;
$primary-hover: #3335aa;

$white: #ffffff;

$danger: #E24444;
$danger-hover: #712222;

$secondary: #5F5F6E;
